<div>
    <mat-grid-list [cols]="breakpoint" fit="2">
        <mat-grid-tile>
            <table width="100%" border="0" align="left" cellpadding="0" cellspacing="1"
                style="background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                <tr>
                    <td style="height:40px;" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td style="padding:0 35px; text-align: left;"  width="70%">    
                        <form [formGroup]="FormBanner1" (ngSubmit)="banner1()">
                            <label for=""><b>Banner 1 : </b> </label>                                  
                            <input type="file" id="banner2" formControlName="file" (change)="dataFile1($event)">
                            <button style="margin-left: 8px;" type="submit">Update</button>
                        </form>           
                        <img [src]="banner1show" alt="" style="max-height: 180px; margin: 20px;">
                    </td>
                </tr>
                <tr>
                    <td style="height:40px;"  colspan="3">&nbsp;</td>
                </tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile>
            <table width="100%" border="0" align="left" cellpadding="0" cellspacing="1"
                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                <tr>
                    <td style="height:40px;" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td style="padding:0 35px; text-align: left;">
                        <form [formGroup]="FormBanner2" (ngSubmit)="banner2()">
                            <label for=""><b>Banner 2 : </b> </label>                                  
                            <input type="file" id="banner2" formControlName="file" (change)="dataFile2($event)">
                            <button style="margin-left: 8px;" type="submit">Update</button>
                        </form>
                        <img [src]="banner2show" alt="" style="max-height: 180px; margin: 20px;">
                    </td>
                    <td style="padding:0 35px; text-align: left">                                      
                    </td>
                </tr>
                <tr>
                    <td style="height:40px;" colspan="2">
                    </td>
                </tr>
            </table>
        </mat-grid-tile>
    </mat-grid-list>
</div>