<div>
  <h3 class="uk-text-uppercase">tabel consultant</h3>
</div>
<div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
  <div>
    <form uk-grid [formGroup]="searchForm" (ngSubmit)="pagsSearch()">
      <div class="uk-width-1-1">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input class="uk-input" type="text" formControlName="search" placeholder="pencarian berdasarkan alamat email">
        </div>
      </div>
    </form>
  </div>
  <div>
    <div class="uk-align-right uk-text-right">
      <button class="uk-button uk-button-default">
        <span uk-icon="plus"></span>
      </button>
    </div>
  </div>
</div>

<div id="pd-consultant">
  <table mat-table [dataSource]="dataSource" width="100%">
    <!-- SELECT -->
    <!-- <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container> -->
    <!-- FULLNAME -->
    <ng-container matColumnDef="consultant_id" style="display: none;">
      <th mat-header-cell *matHeaderCellDef style="display: none;"> ID. Teman Bicara </th>
      <td mat-cell *matCellDef="let element" style="display: none;"> {{ element.consultant_id }} </td>
    </ng-container>
    <!-- BORN CITY -->
    <ng-container matColumnDef="consultant_fullname">
      <th mat-header-cell *matHeaderCellDef> Nama Lengkap </th>
      <td mat-cell *matCellDef="let element"> {{ element.consultant_fullname }} </td>
    </ng-container>
    <!-- BORN DATE -->
    <ng-container matColumnDef="consultant_specialis">
      <th mat-header-cell *matHeaderCellDef> Specialist </th>
      <td mat-cell *matCellDef="let element"> {{ element.consultant_specialis }}</td>
    </ng-container>
    <!-- GENDER CATEGORY -->
    <ng-container matColumnDef="consultant_city">
      <th mat-header-cell *matHeaderCellDef> Domilisi </th>
      <td mat-cell *matCellDef="let element"> {{ element.consultant_city }} </td>
    </ng-container>
    <!-- PHONE -->
    <ng-container matColumnDef="consultant_exp">
      <th mat-header-cell *matHeaderCellDef> Exp. </th>
      <td mat-cell *matCellDef="let element"> {{ element.consultant_exp }} </td>
    </ng-container>
    <!-- EMAIL -->
    <ng-container matColumnDef="consultant_phone">
      <th mat-header-cell *matHeaderCellDef> No. Telephone </th>
      <td mat-cell *matCellDef="let element"> {{ element.consultant_phone }} </td>
    </ng-container>
    <!-- PROFIL URL -->
    <ng-container matColumnDef="consultant_profil_url">
      <th mat-header-cell *matHeaderCellDef> Profil </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.consultant_profil_url" class="uk-border-circle" width="40" height="40" src="{{ element.consultant_profil_url }} ">
        <div class="rows" *ngIf="!element.consultant_profil_url">
          <div class="circles">
            {{ getInitials(element.consultant_fullname) }}
          </div>
        </div>
      </td>
    </ng-container>
    <!-- ACTION -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button class="uk-button uk-button-danger uk-margin-small-right" type="button">
          <span uk-icon="icon: trash"></span>
        </button>
        <button class="uk-button uk-button-secondary uk-margin-small-right" type="button">
          <span uk-icon="icon: pencil"></span>
        </button>
      </td>
    </ng-container>
    <!-- ROW -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="uk-child-width-1-2@s uk-padding" uk-grid>
    <div></div>
    <div>
      <ul class="uk-pagination uk-flex-right uk-margin-small-top" uk-margin>
        <li>
          <a [ngClass]="first ? '' : 'uk-disabled'" (click)="pagsButton(first)">
            <span class="uk-margin-small-right" uk-pagination-previous></span>first
          </a>
        </li>
        <li>
          <a [ngClass]="previous ? '' : 'uk-disabled'" (click)="pagsButton(previous)">
            previous
          </a>
        </li>

        <li>
          <a [ngClass]="next ? '' : 'uk-disabled'" (click)="pagsButton(next)">
            next
          </a>
        </li>
        <li>
          <a [ngClass]="last ? '' : 'uk-disabled'" (click)="pagsButton(last)">
            last<span class="uk-margin-small-left" uk-pagination-next></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
