<title>Reset Password</title>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:50px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                          <a href="https://papaden.org/" title="logo" target="_blank">
                            <img width="230" src="https://papaden.org/img/logo_papaden.png" title="logo" alt="logo">
                          </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="1"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;" colspan="3">
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="text-align: right;" width="25%">
                                        <img width="50px" src="https://seeklogo.com/images/Z/zoom-fondo-blanco-vertical-logo-F819E1C283-seeklogo.com.png" title="logo" alt="logo">
                                    </td>
                                    <td style="padding:0 35px; text-align: right;"  width="70%">                                      
                                        <input id="clipboard-example-textarea" [(ngModel)]="value1" size="40">
                                    </td>
                                    <td style="padding:0 35px; text-align: left"  width="5%">                                      
                                        <button [cdkCopyToClipboard]="value1"><mat-icon>file_copy</mat-icon></button>
                                    </td>
                                <tr>
                                    <td style="padding:0 35px; text-align: right;">
                                        <input id="clipboard-example-textarea" [(ngModel)]="value1"  size="40">
                                    </td>
                                    <td style="padding:0 35px; text-align: left">                                      
                                        <button [cdkCopyToClipboard]="value1"><mat-icon>file_copy</mat-icon></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;"  colspan="3">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong>www.papaden.org</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>
