<title>Reset Password</title>
<!-- <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0"> -->
    <!--100% body table-->
                      
    <div class="row">
        <div class="col-12 text-center p-4">
            <a href="https://papaden.org/" title="logo" target="_blank">
                <img width="230" src="https://papaden.org/assets/logo_papaden.png" title="logo" alt="logo">
            </a> 
        </div>
        <div class="col-12 text-center p-4">
        </div>
        <div class="col-12 col-lg-3"></div>
        
        <div class="col-12 col-lg-6 py-4 bg-light border" style="max-width:670px;background: blanchedalmond; border-radius:6px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
            <div class="row">
                <div class="col-1 text-right">
                </div>
                <div class="col-10 text-center">
                    <div class="container-fluid" *ngFor="let ban of banner">
                    <div class="input-group mb-3" *ngIf="ban.type == 'zoom' && ban.url">
                            <div class="container">
                                <img height="110px" src="{{ban.hyperlink}}" title="logo" alt="logo" class="my-4 rounded mx-auto d-block">
                            </div>
                            <img width="50px" src="https://seeklogo.com/images/Z/zoom-fondo-blanco-vertical-logo-F819E1C283-seeklogo.com.png" title="logo" alt="logo" class="mx-4">
                            <input type="text" class="form-control" [(ngModel)]="ban.url">
                            <button class="btn btn-secondary" type="button" [cdkCopyToClipboard]="value1" (click)="notif()">Copy</button>
                        </div>
                    </div>
                </div>
                <div class="col-1 text-left">
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3"></div>
    </div>

<!-- </body> -->
