<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papaden</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <script src="./assets/c2e908b7b8.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./assets/less/font-awesome.less"> -->
    <!-- Primary Meta Tags -->
    <title>Papaden | Layanan bantuan Indonesia</title>
    <meta name="title" content="Papaden | Layanan bantuan Indonesia">
    <meta name="description" content="Papaden adalah Aplikasi yang saling membantu memberikan solusi & pencerahan.">
    <link rel="icon" type="" href="./assets/favicon.png">
</head>
<body id="body">
    <section id="mobileNav">
        <li class="close-nav"><img src="./assets/close.png" alt="" (click)="closeNav()"></li>
        <ul class="mobile-menu">
            <li class="menu-item"> <a (click)="toDiv('layanan')">Layanan</a></li>
            <li class="menu-item"><a (click)="toDiv('tentang')">Tentang Kami</a></li>
            <li class="menu-item"><a (click)="toDiv('kontak')">Kontak</a></li>
            <li class="menu-item"><a href="#"> <i class="fa-solid fa-earth-africa fa-2x" ></i></a></li>
            <li class="menu-item"><a href="login"><i class="fa-solid fa-user fa-2x"></i></a></li>
        </ul>
    </section>
    <nav>
        <div class="container">
            <div class="nav logo">
                <a href="/"><img src="./assets/logo_papaden.png" style="cursor: pointer;"></a>
            </div>
            <ul class="nav menu">
                <li class="menu-item"> <a (click)="toDiv('layanan')">Layanan</a></li>
                <li class="menu-item"><a (click)="toDiv('tentang')">Tentang Kami</a></li>
                <li class="menu-item kontak"><a (click)="toDiv('kontak')">Kontak</a></li>
                <li class="menu-item"><a href="#"> <i class="fa-solid fa-earth-africa fa-2x"></i></a></li>
                <li class="menu-item"><a href="login"><i class="fa-solid fa-user fa-2x"></i></a></li>
            </ul>
            <div class="menu-toggle" (click)="showNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    <section class="intro" id="sectionAbout">
        <div class="container">
            <div class="intro-left">
                <div class="title-wrap">
                    <h1><span># 1</span> &nbsp; Aplikasi membantu sesama di Indonesia</h1>
                </div>
                <div style="height: 30px;"></div>
                <div class="intro-left-p">
                    <p>Papaden adalah Aplikasi yang saling membantu memberikan solusi & pencerahan.</p>
                </div>
                 <button (click)="googlePlay()" class="btn-google-play">
                    <img src="./assets/google_play_badge.svg" alt="google_play">
                </button>
            </div>
            <div class="intro-right">
                <img src="./assets/intro_bg.png" alt="">
            </div>
        </div>
    </section>
    <section class="produk" id="layanan" #layanan>
        <div class="container">
            <div class="section-title produk">
                <h2>Layanan</h2>
                <!-- <hr> -->
            </div>
            <div class="left odd">
                <img src="./assets/produk_aplikasi_user.png" alt=" ">
            </div>
            <div class="right odd">
                <div class="title-wrap">
                    <h3 class="produk-title">Penerima bantuan</h3>
                </div>
                <div class="desc-wrap">
                    <ul>
                        <li class="produk-desc">&check; &nbsp; Melaporkan kejadian kedaruratan</li>
                        <li class="produk-desc">&check; &nbsp; Info fasilitas kedaruratan terdekat</li>
                        <li class="produk-desc">&check; &nbsp; Mendapatkan berita terupdate</li>
                        <li class="produk-desc">&check; &nbsp; Pusat informasi barang hilang</li>
                    </ul>
                </div>
            </div>
            <div class="left even">
                <div class="title-wrap">
                    <h3 class="produk-title">Volunteer</h3>
                </div>
                <div class="desc-wrap">
                    <ul>
                        <li class="produk-desc">&check; &nbsp; Menerima laporan kedaruratan</li>
                        <li class="produk-desc">&check; &nbsp; Monitoring posisi petugas selama bekerja</li>
                        <li class="produk-desc">&check; &nbsp; Chat dengan pelapor dan superhero</li>
                        <li class="produk-desc">&check; &nbsp; Mendapatkan berita terupdate</li>
                        <li class="produk-desc">&check; &nbsp; Memperoleh info dan melaporkan barang hilang</li>
                    </ul>
                </div>
            </div>
            <div class="right even">
                <img src="./assets/produk_aplikasi_hero.png" alt=" ">
            </div>
        </div>
    </section>

    <section class="produk" id="tentang" #tentang>
        <div class="container">
            <div class="section-title produk">
                <h2>Tentang Kami</h2>
                <!-- <hr> -->
            </div>
            <div class="left odd">
                <img src="./assets/produk_aplikasi_user.png" alt=" ">
            </div>
            <div class="right odd">
                <div class="desc-wrap">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-10">
                            <p>
                                Papaden adalah sebuah aplikasi yang peduli membantu memberikan solusi bagi orang yang membutuhkan jawaban & merupakan tempat untuk pertemanan (komunitas) dalam sebuah platform aplikasi.
                            </p><BR>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-10">
                            <b>VISI :</b> <BR>
                            <ul>
                                <li class="produk-desc">Menolong antar sesama dengan memberikan harapan dan solusi masa depan yang lebih baik</li>
                                <li class="produk-desc">Membangun, membangkitkan dan melaksanakan kepedulian sosial antar sesama</li>
                            </ul><BR>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-10">
                            <b>MISI :</b> <BR>
                            <ul>
                                <li class="produk-desc">Mengajak sebanyak mungkin orang-orang untuk menjadi sukarelawan peduli sesama.</li>
                                <li class="produk-desc">Menjadi solusi bagi orang-orang yang membutuhkan pertolongan dibeberapa bidang yang tersedia (saat ini : konsultasi kehidupan dan pendidikan)</li>
                                <li class="produk-desc">Mengajak sebanyak mungkin orang-orang sebagai orang tua asuh, donatur dan juga institusi pendidikan untuk memberikan kesempatan pendidikan secara gratis bagi orang-orang yang kurang/tidak mampu.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="layanan" id="tentang">
        <div class="container">
            <div class="row ">
                <div class="col-12 ">
                    <h1>#Peduli itu sederhana</h1>
    
                </div>
                <div class="col-2 "></div>
                <div class="col-10 col-lg-4 ">
                    <b>Produk :</b> <BR>
                    <ul class="p-2">
                        <li class="produk-desc">Teman bicara (User)</li>
                        <li class="produk-desc">Teman Sukarelawan (Team)</li>
                        <li class="produk-desc">Teman Berbagi (Donasi)</li>
                    </ul>
                </div>
                <div class="col-2 "></div>
                <div class="col-10 col-lg-4 ">
                    <b>Mitra :</b> <BR>
                    <ul class="p-2">
                        <li class="produk-desc">Sekolah</li>
                        <li class="produk-desc">Perusahaan</li>
                        <li class="produk-desc">Yayasan</li>
                    </ul>
                </div>
            </div>
            <div class="left even">
            </div>
            <div class="right even">
            </div>
        </div>
    </section>
    <div style="height: 50px;"></div>
    <section class="kontak bg-light pt-4" id="kontak">
        <div class="container">
            <div class="section-title kontak">
                <h2 style="text-align: center;">KONTAK</h2>
                <!-- <hr> -->
            </div>
            <div class="content-wrapper kontak">
                <div class="p-wrapper">
                    <p class="question">Punya pertanyaan seputar bantu? Atau tertarik untuk bekerjasama? Apapun itu, jangan ragu untuk menghubungi kami </p>
                </div>
                <br>
                <!-- <hr> -->
                <br>
                <div class="p-wrapper">
                    <p class="email"><i class="fa-solid fa-envelope"></i>cs@papaden.org</p>
                </div>
                <div class="p-wrapper">
                    <p class="wa"><i class="fa-brands fa-whatsapp fa-lg"></i>085104908082</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer-one">
                <div class="logo-footer">
                    <a href="/"><img src="./assets/logo_bantu_white.png" alt=""></a>
                </div>             
                <div class="address-footer">
                    <p>
                        <b style="font-size: 16px;">Papaden </b><br>
                        Apartemen Puncak Kertajaya
                        Jalan Abd Rachman Hakim
                        Sukolilo, Keputih - Sby
                    </p>
                </div>
                <div class="email-footer">
                    <br>
                    <p><i class="fa-solid fa-envelope"></i> cs@papaden.org</p>
                </div>
                <div class="wa-footer">
                    <p><i class="fa-brands fa-whatsapp fa-lg"></i> 085104908082</p>
                </div>
            </div>
           
            <div class="footer-three">
                <div class="footer-title">
                    <h4>Tentang Papaden</h4>
                </div>
                <div class="footer-content">
                    <a (click)="toDiv('tentang')">
                        <p>Tentang kami</p>
                    </a>
                    <a (click)="toDiv('layanan')">
                        <p>Layanan</p>
                    </a>
                    <a (click)="toDiv('kontak')">
                        <p>Kontak</p>
                    </a>
                    
                </div>
            </div>
            <div class="footer-four">
                <div class="footer-title">
                    <h4>Sosial Media</h4>
                </div>
                <div class="footer-content">
                    <div class="instagram"><a href="https://instagram.com/officialdanielalexander" target="_blank">Instagram</a></div>
                    <div class="facebook"><a href="https://www.facebook.com/danielalexanderpendidikpembidik" target="_blank">Facebook</a></div>
                    <div class="youtube"><a href="https://youtube.com/user/papadenindonesia" target="_blank">YouTube</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>
<!-- <script>
    function showProduk() {
        let x = document.getElementById("listProduk");
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function showProdukMobile() {
        let x = document.getElementById("listProdukMobile");
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

     function googlePlay() {
        window.open("https://play.google.com/store/apps/details?id=com.papaden.mobile")
    }

    function showNav() {
        document.getElementById("mobileNav").style.display = "block";
        document.getElementById("body").style.overflow = "hidden";
    }

    function closeNav() {
        document.getElementById("mobileNav").style.display = "none";
        document.getElementById("body").style.overflow = "visible";
    }
</script> -->
</html>