<div>
    <h3 class="uk-text-uppercase">Teman Bicara</h3>
  </div>
  <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
      <!-- <form uk-grid [formGroup]="searchForm" (ngSubmit)="pagsSearch()">
        <div class="uk-width-1-1">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: search"></span>
            <input class="uk-input" type="text" formControlName="search" placeholder="pencarian berdasarkan alamat email">
          </div>
        </div>
      </form> -->
      <!-- <mat-form-field appearance="fill">
        <mat-label>Kategori Usia</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of Borns" [value]="food.born_category_title"  (click)="kategoriUsiaGet($event)">
            {{food.born_category_title}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div>
      <div class="uk-align-right uk-text-right">
      </div>
    </div>
  </div>
  
  <div id="pd-member">
    <table mat-table [dataSource]="dataSource">
      <!-- SELECT -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- FULLNAME -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Nama Lengkap </th>
        <td mat-cell *matCellDef="let element"> {{ element.fullname }} </td>
      </ng-container>
      <!-- BORN CITY -->
      <!-- <ng-container matColumnDef="born_city">
        <th mat-header-cell *matHeaderCellDef> Tempat Lahir </th>
        <td mat-cell *matCellDef="let element"> {{ element.born_city }} </td>
      </ng-container> -->
      <!-- BORN DATE -->
      <ng-container matColumnDef="born_date">
        <th mat-header-cell *matHeaderCellDef> Tanggal Lahir </th>
        <td mat-cell *matCellDef="let element"> {{ element.born_date | date : 'EEEE, d MMMM y' }}</td>
      </ng-container>
      <!-- GENDER CATEGORY -->
      <!-- <ng-container matColumnDef="sex_category_title">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{ element.sex_category_title }} </td>
      </ng-container> -->
      <!-- Konsultan -->
      <ng-container matColumnDef="consultant_fullname">
        <th mat-header-cell *matHeaderCellDef> Nama Konsultan </th>
        <td mat-cell *matCellDef="let element"> {{ element.consultant_fullname }} </td>
      </ng-container>
      <!-- Book date -->
      <ng-container matColumnDef="book_date">
        <th mat-header-cell *matHeaderCellDef> Tanggal Booking </th>
        <td mat-cell *matCellDef="let element"> {{ element.book_date | date : 'EEEE, d MMMM y' }} </td>
      </ng-container>
      <!-- PHONE -->
      <ng-container matColumnDef="book_phone">
        <th mat-header-cell *matHeaderCellDef> No. Telp. </th>
        <td mat-cell *matCellDef="let element"> {{ element.book_phone }} </td>
      </ng-container>
      <!-- Tags -->
      <ng-container matColumnDef="book_tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element">{{element.book_tags}}</td>
      </ng-container>
      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>
      <!-- EMAIL -->
      <!-- <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
      </ng-container> -->
      <!-- ACTION -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="uk-button uk-button-danger uk-margin-small-right" type="button" (click)="delUsersRegister(element.id)">
            <span uk-icon="icon: trash"></span>
          </button>
          <!-- <button class="uk-button uk-button-secondary uk-margin-small-right" type="button" (click)="popUpMemberUpdate()">
            <span uk-icon="icon: pencil"></span>
          </button> -->
        </td>
      </ng-container>
      <!-- ROW -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="uk-child-width-1-2@s uk-padding" uk-grid>
      <div></div>
      <div>
        <ul class="uk-pagination uk-flex-right uk-margin-small-top" uk-margin>
          <li>
            <a [ngClass]="first ? '' : 'uk-disabled'" (click)="pagsButton(first)">
              <span class="uk-margin-small-right" uk-pagination-previous></span>first
            </a>
          </li>
          <li>
            <a [ngClass]="previous ? '' : 'uk-disabled'" (click)="pagsButton(previous)">
              previous
            </a>
          </li>
  
          <li>
            <a [ngClass]="next ? '' : 'uk-disabled'" (click)="pagsButton(next)">
              next
            </a>
          </li>
          <li>
            <a [ngClass]="last ? '' : 'uk-disabled'" (click)="pagsButton(last)">
              last<span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  