<mat-toolbar style="background-color: #0784F0; color: aliceblue;" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<img src="https://papaden.org/assets/logo_papaden.png" width="160px">
  <div fxShow="true" fxFlex fxLayout>
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->

    <div fxFlex fxLayoutAlign="flex-end center">
      <button mat-icon-button style="color: #fff;" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Dashboard Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <div>
          <ul class="uk-nav uk-nav-default">
            <!-- <li class="uk-active">
              <a href="dashboard/users">users</a>
            </li> -->
            <li class="uk-active">
              <a href="dashboard/users/register">Unverified Registrations</a>
            </li>
            <li class="uk-active">
              <a href="dashboard/users/member">Members</a>
            </li>
            <li class="uk-active">
              <a href="dashboard/consultant">Registrasi Teman Bicara</a>
            </li>
            <li class="uk-active">
              <a href="dashboard/activity">Sktifitas</a>
            </li>
            <li class="uk-active">
              <a href="dashboard/activity/books">Teman Bicara</a>
            </li>
            <li class="uk-active">
              <a href="dashboard/activity/recipients">Penerima Bantuan</a>
            </li>
            <!-- <li class="uk-active">
              <a href="dashboard/youtube">Link Youtube</a>
            </li> -->
            <li class="uk-active">
              <a href="dashboard/banner">Media</a>
            </li>
          </ul>
        </div>
        
			</div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
    <router-outlet></router-outlet>
	</div>

</mat-sidenav-container>
<footer>
  <div class="uk-container uk-container-large">
    <p class="uk-text-center uk-text-small uk-padding-small">
      dikembangkan & dikelola oleh <a href="/" target="_blank" rel="noopener norefferer">papaden</a>&copy;2022.
    </p>
  </div>
</footer>