<div id="pd-popupmemberupdate">
  <!-- <div class="uk-placeholder uk-text-center uk-placeholder-warn">
    warn
  </div> -->
  <!-- <div class="uk-placeholder uk-text-center uk-placeholder-password">
    password recovery url
  </div> -->
  <form [formGroup]="editForm" (ngSubmit)="editMember()">
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <h3>Update Status</h3>
          <hr>
          <input class="uk-input" type="text" formControlName="book_id" [ngModel]="book_id" required>
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select id="bantuan" formControlName="status" [ngModel]="status">
              <!-- <mat-option value="new">Baru</mat-option>
                <mat-option value="requested">Mengajukan</mat-option> -->
                <mat-option value="new">New</mat-option>
                <mat-option value="inprogress">Inprogress</mat-option>
                <mat-option value="expired">Expired</mat-option>
                <mat-option value="closed">Closed</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </fieldset>
    <!-- <button class="uk-button uk-button-default uk-width-1-2">reset password</button> -->
    <button class="uk-button uk-button-primary uk-width-1-1">Update</button>
  </form>
</div>

